API_KEY=
JWT_SECRET=

REGISTRY_URL=
REGISTRY_API_KEY=

STRIPE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

UI_STRING=Fruitful_app

NODE_ID=backend-node-01
NODE_TYPE=backend

FEDERATION_SECRET=
NODE_URL=http://localhost:5000